{{!
    @template enrol_gapply/applicationstatus

    Status of a user's application.

    Example context (json):
    {
        "id": 123,
        "new": true,
        "time": "2026-05-07",
        "hasapplication": true,
        "applytext": "I want to join because...",
        "moodlebranch": 500
    }
}}
{{#id}}<span>{{#str}}applicationid, enrol_gapply{{/str}}: {{id}}</span>{{/id}}
{{#noenrolment}}
    <div class="alert alert-danger mt-3">
        <div class="media">
            <div class="mr-3 icon-size-5"><i class="fa fa-ban fa-2x"></i></div>
            <div class="media-body align-self-center">{{#str}}cannotenrol, enrol_gapply{{/str}}</div>
        </div>
    </div>
{{/noenrolment}}

{{#expired}}
    <div class="alert alert-danger mt-3">
        <div class="media">
            <div class="mr-3 icon-size-5"><i class="fa fa-ban fa-2x"></i></div>
            <div class="media-body align-self-center">{{#str}}enrolmentexpired, enrol_gapply, {{enrolmentend}}{{/str}}</div>
        </div>
    </div>
{{/expired}}

{{#suspended}}
    <div class="alert alert-danger mt-3">
        <div class="media">
            <div class="mr-3 icon-size-5"><i class="fa fa-ban fa-2x"></i></div>
            <div class="media-body align-self-center">{{#str}}enrolmentsuspended, enrol_gapply{{/str}}</div>
        </div>
    </div>
{{/suspended}}

{{#new}}
    <div class="alert alert-info mt-3">
        <div class="media">
            <div class="mr-3 icon-size-5"><i class="fa fa-file-lines fa-2x"></i></div>
            <div class="media-body align-self-center">{{#str}}alreadyapplied, enrol_gapply, {{time}}{{/str}}</div>
        </div>
    </div>
{{/new}}

{{#approved}}
    <div class="alert alert-success mt-3">
        <div class="media">
            <div class="mr-3 icon-size-5"><i class="fa fa-file-circle-check fa-2x"></i></div>
            <div class="media-body align-self-center">{{#str}}enrollmentapproved, enrol_gapply, {{enrolmentstart}}{{/str}}</div>
        </div>
    </div>
{{/approved}}

{{#waitlisted}}
    <div class="alert alert-warning mt-3">
        <div class="media">
            <div class="mr-3 icon-size-5"><i class="fa fa-file-circle-question fa-2x"></i></div>
            <div class="media-body align-self-center">{{#str}}youhavebeenwaitlisted, enrol_gapply, {{time}}{{/str}}</div>
        </div>
    </div>
{{/waitlisted}}

{{#rejected}}
    <div class="alert alert-danger mt-3">
        <div class="media">
            <div class="mr-3 icon-size-5"><i class="fa fa-file-circle-xmark fa-2x"></i></div>
            <div class="media-body align-self-center">{{#str}}youhavebeenrejected, enrol_gapply, {{time}}{{/str}}</div>
        </div>
    </div>
{{/rejected}}

{{#outcomemessage}}
    <div class="alert alert-light border mt-3">
        <div class="media">
            <div class="mr-3 icon-size-5 text-muted"><i class="fa fa-envelope-open-text fa-2x"></i></div>
            <div class="media-body align-self-center">
                <div class="small text-muted text-uppercase font-weight-bold mb-1">{{#str}}outcomemessage, enrol_gapply{{/str}}</div>
                <div class="text-dark outcomemessage-text">{{{outcomemessage}}}</div>
            </div>
        </div>
    </div>
{{/outcomemessage}}

{{#hasapplication}}
    <div class="bg-white border p-3 rounded text-dark mb-3">
        <div class="d-flex justify-content-between">
        <h5>{{#str}}applicationdetails, enrol_gapply{{/str}}</h5>
        </div>
        {{{applytext}}}
        {{#hasattachments}}
            {{#attachments}}
                <div class="text-truncate">
                    <a class="attachmentlink" data-type="{{mimetype}}" data-url="{{url}}" href="javascript:void(0)">
                        <i class="fa fa-fw fa-paperclip mr-1"></i>{{filename}}
                    </a>
                </div>
            {{/attachments}}
        {{/hasattachments}}
    </div>
{{/hasapplication}}

{{#allowwithdrawal}}
    <span role="button" class="btn btn-danger float-right mb-3" id="withdraw" data-instance="{{instance}}">
        <i class="fa fa-file-circle-minus fa-fw mr-2"></i>{{#str}}withdrawmyapplication, enrol_gapply{{/str}}
    </span>
{{/allowwithdrawal}}

<span id="moodle-branch" data-branch="{{moodlebranch}}" style="display: none;"></span>

{{#js}}
    require(['enrol_gapply/previewfile'], function(previewfile) {
        previewfile.init();
    });
{{/js}}